[submodule "Lib/STM32_ICM42688P"]
	path = Lib/STM32_ICM42688P
	url = https://github.com/NOKOLat/STM32_ICM42688P.git
[submodule "Lib/STM32_Motor-Servo_Driver"]
	path = Lib/STM32_Motor-Servo_Driver
	url = https://github.com/NOKOLat/STM32_Motor-Servo_Driver.git
[submodule "Lib/SBUS"]
	path = Lib/SBUS
	url = https://github.com/NOKOLat/SBUS.git
[submodule "Lib/1DoF_PID"]
	path = Lib/1DoF_PID
	url = https://github.com/NOKOLat/1DoF_PID.git
[submodule "Lib/IMU_EKF"]
	path = Lib/IMU_EKF
	url = https://github.com/NOKOLat/IMU_EKF.git
